/*** items ***/
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajustez si nécessaire pour occuper toute la hauteur de la vue */
}

.wrapper {
  display: grid;
  grid-gap: 1.1vmin;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  width: calc(100% - 2vmin);
  height: calc(100% - 4vmin);
  margin: 2vmin;
}


.item {
  width: auto;
  min-height: 0;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.item:nth-child(1) {
  grid-column: 1 / span 2;
  grid-row: 1 / 20;
  clip-path: polygon(0 0, 80% 0, 73% 82%, 0 95%);
  background-image: url('../assets/image1.png');
}

.item:nth-child(2) {
  grid-column: 2 / span 2;
  grid-row: 1 / 20;
  clip-path: polygon(32% 0, 100% 0, 100% 68%, 25% 81%);
  background-image: url('../assets/image2.png');
}

.item:nth-child(3) {
  grid-column: 1 / span 1;
  grid-row: 17 / 50;
  clip-path: polygon(0 8%, 0% 87%, 87% 88%, 98% 3%);
  background-image: url('../assets/image3.png');
}

.item:nth-child(4) {
  grid-column: 2 / span 1;
  grid-row: 15 / 47;
  clip-path: polygon(14% 9.5%, 4% 97.5%, 99% 99%, 99% 4.5%);
  margin-left: -15%;
  background-image: url('../assets/image4.png');
}

.item:nth-child(5) {
  grid-column: 3 / span 1;
  grid-row: 13 / 48;
  clip-path: polygon(15% 9.5%, 15% 96.25%, 100% 97.5%, 100% 5%);
  margin-left: -15%;
  background-image: url('../assets/image5.png');
}

.item:nth-child(6) {
  grid-column: 1 / span 2;
  grid-row: 70 / 45;
  clip-path: polygon(0% 6%, 75% 8.5%, 80% 100%, 0 100%);
  background-image: url('../assets/image6.png');
}

.item:nth-child(7) {
  grid-column: 2 / span 2;
  grid-row: 70 / 45;
  clip-path: polygon(27% 9%, 100% 12%, 100% 100%, 32% 100%);
  background-image: url('../assets/image7.png');
}





:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Home */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

/* pokemons page cards */
.pokemons-title {
  margin-bottom: 30px;
}

.main-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex: 0 0 calc(18%);
  margin-bottom: 20px;
  border: 1px solid #d389f8;
  border-radius: 8px;
  overflow: hidden;
  height: 320px;


}

.card-header {
  color: white;
  background-color: #535BF2;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
}

.card-body {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body img {
  width: 100%;
  height: auto;
}
.card-footer {
  display: flex;
  justify-content: center;
}

.card-footer span {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #535BF2;
  color: white;
  cursor: pointer;
}

.card-footer span:hover {
  background-color: #a855f7;
}

.card-footer.single-type span {
  margin: 0;
}
